html, body {
  height: 100%; }

body {
  background-color: #fff;
  font-family: "Noticia Text", serif;
  color: #303030;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.65em;
  padding: 0;
  margin: 0; }
  body a {
    text-decoration: underline; }

h1, h2, h3 {
  font-weight: 800;
  font-family: "Open Sans", sans-serif; }

h1.title {
  margin: 0 auto;
  font-size: 30px; }

@-webkit-keyframes collpase {
  0.5% {
    min-height: 100%; }

  50% {
    min-height: 100%; }

  100% {
    min-height: 0; } }

@-moz-keyframes collpase {
  0.5% {
    min-height: 100%; }

  50% {
    min-height: 100%; }

  100% {
    min-height: 0; } }

@-ms-keyframes collpase {
  0.5% {
    min-height: 100%; }

  50% {
    min-height: 100%; }

  100% {
    min-height: 0; } }

@-o-keyframes collpase {
  0.5% {
    min-height: 100%; }

  50% {
    min-height: 100%; }

  100% {
    min-height: 0; } }

@keyframes collpase {
  0.5% {
    min-height: 100%; }

  50% {
    min-height: 100%; }

  100% {
    min-height: 0; } }

@-webkit-keyframes fadein {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fadein {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-ms-keyframes fadein {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fadein {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fadein {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.cover-splash {
  *zoom: 1;
  -webkit-animation: collpase 2s ease-in;
  -moz-animation: collpase 2s ease-in;
  animation: collpase 2s ease-in;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 2px 2px black, 0 2px 6px black;
  color: white;
  padding: 100px 0 20px;
  height: 239px;
  background-position: 0 50%;
  border-bottom: 1px solid #545454; }
  .cover-splash:before, .cover-splash:after {
    content: " ";
    display: table; }
  .cover-splash:after {
    clear: both; }

body > .wrapper {
  -webkit-animation: fadein 2.4s ease-in;
  -moz-animation: fadein 2.4s ease-in;
  animation: fadein 2.4s ease-in; }

.wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 720px;
  text-align: left;
  margin: auto; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  font-family: "Noticia Text", serif;
  margin: 10px auto 0;
  background-color: #202020;
  color: #fff;
  padding: 10px 20px;
  letter-spacing: .1em;
  line-height: 1em;
  border: 0;
  font-size: 13px;
  position: relative;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 0 rgba(0, 0, 0, 0.15); }
  button:hover {
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2), inset 0 0 200px rgba(0, 0, 0, 0.15); }
  button:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), inset 0 0 200px rgba(0, 0, 0, 0.15); }
  button:after {
    height: 0;
    width: 0;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0; }
  button#share {
    background-color: #3B5998; }
  button#tweet {
    background-color: #0084b4; }
  button#project {
    background-color: #69b61b; }

.steps {
  margin-top: 40px;
  *zoom: 1; }
  .steps:before, .steps:after {
    content: " ";
    display: table; }
  .steps:after {
    clear: both; }
  .steps .step {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    float: left;
    width: 32.2%;
    margin-right: 1.7%;
    border: 1px solid #d7d7d7;
    height: 140px;
    padding: 25px 15px 0px; }
    .steps .step:before {
      position: absolute;
      content: attr(data-step);
      background: #202020;
      color: #fff;
      top: -15px;
      left: 50%;
      margin-left: -15px;
      width: 30px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      border-radius: 30px; }
    .steps .step.no-margin {
      margin-right: 0; }

.footer {
  text-align: center;
  color: #999;
  padding-bottom: 20px; }
  .footer a {
    color: #888; }
  .footer span {
    vertical-align: middle; }

@media (max-width: 760px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px; }

  .steps .step {
    margin-top: 20px;
    float: none;
    width: 100%; } }
